{% extends 'base.html' %}

{% block content %}

    <div class="text-center mw-500 m-auto">
    {# m-auto는 bootstrap에서 제공해주는 class이다. #}
        <div class="m-5">
            {% if target_user.profile %}
                <img src="{{ target_user.profile.image.url }}"
                     class="profile_image m-4"
                    art="profile image">
                {# 이미지를 바로 가져올 수 있는게 아니라 이미지의 url을 가져와야 한다. #}
                <h2 class="NNS_B">
                    {{ target_user.profile.nickname }}
                    {% if target_user == user %}
                    <a href="{% url 'profileapp:update' pk=target_user.profile.pk %}"
                    class = "material-icons round_button">
                        edit
                    </a>
                    {% endif %}
                </h2>
                <h5>{{ target_user.profile.message }}</h5>
            {% else %}
                <h2>
                    <a href="{% url 'profileapp:create' %}">Create Profile</a>
                </h2>
            {% endif %}
        </div>
        {% if user == target_user %}
            <div>
                <a href="{% url 'accountapp:update' pk=target_user.pk %}"
                    class="material-icons mx-1 round_button">
                    settings
                </a>
    {#            update를 사용하기 위해 본인의 정보를 볼 수 있는 detailView에 링크를 열어준다.#}
                <a href="{% url 'accountapp:delete' pk=target_user.pk %}"
                    class="material-icons mx-1 round_button">
                    close
                </a>
    {#            update를 사용하기 위해 본인의 정보를 볼 수 있는 detailView에 링크를 열어준다.#}
            </div>
        {% endif %}
    </div>

    <div>
        {% include 'snippets/list_fragment.html' with article_list=object_list %}
    </div>

{% endblock %}