{% extends 'base.html' %}

    {% block content %}

    <div style=' margin: 2rem; text-align: center'>
        <h1> HTTP METHOD </h1>

        <form action="/accounts/Hello_World/" method="post">
{#            form은 요청#}
            {% csrf_token %}
            <input type="text" name="input_text">
            <input class="btn btn-outline-dark rounded-pill px-5" type="submit">
        </form>  {# 주소 앞 뒤에 /를 잘 적어주지 않으면 정상적인 접근이 안된다. #}

        {% for data in data_list %}

        <h3>{{ data.text }}</h3> {# 단순 변수를 출력하기 위해서{{변수}}를 사용하게 해준다. #}
        {#    html에서 for문을 사용할 때 어디까지 for문을 사용할 것인지 지정을 해줘야 한다.    #}
        {% endfor %}
    </div>

    {% endblock %}
